POSTGRES_USER=cloud
POSTGRES_PASSWORD=cloud
POSTGRES_DB=private_cloud
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5432
RABBITMQ_USER=cloud
RABBITMQ_PASSWORD=cloud
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXPOSE_PORT=5672
RABBITMQ_MGMT_EXPOSE_PORT=15672
MAIN_API_PORT=8000
FRONTEND_PORT=3000
VM_MANAGER_CONCURRENCY=4
HOST_NODE=localhost
TOTAL_CPU=32
TOTAL_MEMORY_MIB=131072
TOTAL_DISK_GIB=2000
CONSOLE_TICKET_TTL_SECONDS=300
CONSOLE_PROXY_HOST=host.docker.internal
CONSOLE_VNC_PORT_BASE=20000
CONSOLE_VNC_PORT_SPAN=40000
TASK_STALE_QUEUED_TIMEOUT_SECONDS=180
TASK_STALE_SWEEP_INTERVAL_SECONDS=15
BASE_IMAGE_URL=https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
VM_IMAGE_CATALOG_JSON=
VM_IMAGE_DEFAULT_ID=
VM_IMAGE_ALLOW_INSECURE_NO_CHECKSUM=false
VM_BASE_DIR=/var/lib/vm-manager
VM_EGRESS_INTERFACE=
VM_NETWORK_CLEANUP_INTERVAL_SECONDS=300
