POSTGRES_USER=cloud
POSTGRES_PASSWORD=cloud
POSTGRES_DB=private_cloud
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5432
RABBITMQ_USER=cloud
RABBITMQ_PASSWORD=cloud
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_EXPOSE_PORT=5672
RABBITMQ_MGMT_EXPOSE_PORT=15672
MAIN_API_PORT=8000
VM_MANAGER_CONCURRENCY=4
HOST_NODE=localhost
TOTAL_CPU=32
TOTAL_MEMORY_MIB=131072
TOTAL_DISK_GIB=2000
BASE_IMAGE_URL=https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img
VM_BASE_DIR=/var/lib/vm-manager
